<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="wlj.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".mvp_demo.base.MyMVPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyUserActivity"/>
        <activity android:name=".practice_draw_view.PracticeDrawActivity"/>
        <activity android:name=".practice_draw_view2.PracticeDrawActivity2"/>
        <activity android:name=".lifecycle_livedata_mvvm.view.A_UserActivity"/>
        <activity android:name=".retrofit_lifecyecle_livedata_mvvm.view.B_UserActivity"/>
        <activity android:name=".mvp_demo.test.view.TestMVPActviity"/>
        <activity android:name=".vlayout_demo.VLayoutActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.LinearLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.GridLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.StickyLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.StaggeredGridLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.SingleLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.ScrollFixLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.OnePlusNLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.FloatLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.ColumnLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.FixLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.AllActivity"/>
    </application>

</manifest>