<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="wlj.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".mvp_demo.base.MyMVPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyUserActivity"/>
        <activity android:name=".practice_draw_view.PracticeDrawActivity"/>
        <activity android:name=".practice_draw_view2.PracticeDrawActivity2"/>
        <activity android:name=".lifecycle_livedata_mvvm.view.A_UserActivity"/>
        <activity android:name=".retrofit_lifecyecle_livedata_mvvm.view.B_UserActivity"/>
        <activity android:name=".mvp_demo.test.view.TestMVPActviity"/>
        <activity android:name=".vlayout_demo.VLayoutActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.LinearLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.GridLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.StickyLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.StaggeredGridLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.SingleLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.ScrollFixLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.OnePlusNLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.FloatLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.ColumnLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.FixLayoutHelperActivity"/>
        <activity android:name=".vlayout_demo.vlayout_activity.AllActivity"/>
        <activity android:name=".my_draw_view_drawerLayout.MyDrawActivity"/>
        <!-- android:theme="@style/AppTheme.NoActionBar"  没有actionbar -->
        <activity
            android:name=".my_dialg_view_test.MyViewTestActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".my_dialg_view_test.activity.MyCalendarAllSlideActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyChooseIndicatorActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyLoadViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyProgressViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyRaderViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyPieViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MySlideButtonViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyThermometerViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyProgressButtonViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyWheelViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyXiuXiuImageViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyGradualViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyWaterDropLoadViewActivity"/>
        <activity android:name=".my_dialg_view_test.activity.MyLineChartViewActivity"/>
        <!-- android:theme="@style/AppTheme.NoActionBar"  没有actionbar   因为view2 -->
        <activity
            android:name=".my_dialg_view_test.activity.MyScratchCardViewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".my_dialg_view_test.activity.MyJumpWordLoadViewActivity"/>
        <activity android:name=".room_test.MyRoomTestActivity">
        </activity>
        <activity android:name=".room_test.upgrade_database.UpgradeDatabaseActivity">
        </activity>
        <activity android:name=".room_test.room_livedata_demo.RoomLivedataActivity"/>
        <activity
            android:name=".drawerlayout_navigation_toolbar.DrawerLayoutActivityDemo"
            android:label="@string/title_activity_drawer_layout_demo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".drawerlayout_navigation_toolbar.DrawerlayoutNavigationViewActivity"
            android:label="@string/title_activity_drawerlayout_navigation_view"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>